# To disable these bundled keymaps, go to Atom:
#
#    settings -> packages -> bulleted-lists -> Disable keybindings
#
# "atom-workspace atom-text-editor:not([mini])":
# caused issue with autcomplete by overriding the word suggestion

"atom-text-editor:not([mini])":
  "enter": "bulleted-lists:insert-new-line"
  "tab":   "bulleted-lists:indent-list-line"
  "shift-tab":  "bulleted-lists:outdent-list-line"

".bulleted-lists atom-text-editor[mini]":
  "enter":  "core:confirm"
  "escape": "core:cancel"
